.container {
  /* background-color: #ecf0f1; */
  max-width: 600px;
}

table {
  margin-bottom: 0;
}

#new-rez-button {
  margin-bottom: 1rem;
}
.page-title {
  margin-top: 1rem;
  padding-left: .5rem;
}
td, th {
    text-align: center;
    vertical-align: middle;
}